.heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
body{
    background-color: black;
}
.list{
 
 align-items: center;
 justify-content: center;
 margin-top: 15%;
 margin-left: 42%;
 color: white;
 font-weight: 200;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link1{
    color:white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-bottom-color: azure;
}
img{
    margin: 150px;
    
}