.heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
body{
    background-color: black;
}
.list{
 
 align-items: center;
 justify-content: center;
 margin-top: 5%;
 margin-left: 16%;
 color: white;
 font-weight: 200;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 max-width: 434px;
}
.link1{
    color:white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-bottom-color: azure;
}
img{
    display: flex;
    margin: auto;
    height: 360px;
    width: auto;
    padding-bottom: 110px;
    
}
li{padding: 15px;}